h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: navy;
}

#search-button {
    background-color: #0197f6;
    color: white;
}

.paragraph-border {
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-left: solid;
    border-width: 2px;
    border-color: aliceblue;
    padding-left: 30px;
    padding-right: 50px;
}

.card {
    background-color: black;
    display: flex;
    justify-content: space-between ;
}

.card-text, .card h5 {
    color: white;
}
