h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: navy;
}

#search-button {
    background-color: #0197f6;
    color: white;
    width:max-content;
    margin-bottom: 20px;
}

#search-input {
    width: 100%;
    margin-bottom: 10px;
}

.paragraph-border {
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    border-left: solid;
    border-width: 2px;
    border-color: aliceblue;
    padding-left: 30px;
    padding-right: 50px;
    background-color: #F3F4F7;
}

.card {
    background-color: black;
    margin-right: 50px;
    margin-bottom: 30px;
}

.card-text, .card h5 {
    color: white;
}

#main {
    display: flex;
    justify-content: space-between;
}

.cities-searched {
    margin-top: 20px;
    display: block;
    background-color:#a9a9a9;
    width: 80%;
}

